/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	
}

/*----------
	header
----------*/

.header {
	display: flex;
	justify-content: center;
	background-color: navy;
	color: white;
	border-radius: 30px;
	padding: 30px 0 30px 30px;
	margin: 40px auto 160px auto;
	/*height: 646px;*/
	/*width: 1321px;*/
	height: 538px;
	width: 1100px;
}

.header-info, .banner-image {
	width: 50%;
}

.header-info {
	padding: 55px 0 70px 70px;
}

.main-heading {
	font-size: 50px;
}

.button {
	background-color: red;
	border-radius: 5px;
	color: white;
	font-size: 15px;
	font-weight: 800;
	padding: 10px;
	margin-top: 20px;
	transition: border-radius 2s, transform 3s;
}

.button:hover {
	border-radius: 60%;
	transform: rotate(360deg);
}


.banner-image img {
	width: 98%;
	/*display: block;*/
	/*height: 35.47em;*/
}

/*-------
	main
---------*/

main {
	margin-bottom: 160px;
	display: flex;
	width: 1100px;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;

}

/*-------
	nav
---------*/

nav {
	display: flex;
	flex-direction: column;
	/*align-items: stretch;*/
	background-color: black;
	height: 300px;
	border-radius: 10px;
	width: 26%;
}

nav a {
	text-decoration: none;
	color: black;
}

.nav-item {
	background-color: white;
	border-radius: 10px;
	border: 1px solid grey;
	margin: 20px;
	padding: 15px;
	text-align: center;
}

#current-nav-item {
	background-color: red;
}

#current-nav-item a {
	color: white;
}

/*--------
	blog
-----------*/

.blogs {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 30px;
	width: 72%;
}

.blog {
	height: 332px;
	width: 250px;
	display: flex;
	flex-direction: column;
	border: 2px solid grey;
	border-radius: 15px;
}

.blog img {
	height: 166px;
	width: 250px;
}

.blog-info {
	padding: 10px;
}

.blog-button {
	background-color: white;
	padding: 5px;
	color: black;
	font-weight: 600;
	border-radius: 5px;
	margin-top: 10px;
}

.blog-icons {
	display: flex;
	/*justify-content: ;*/
}

.fa-light {
	height: 0.8em;
	width: 0.8em;
	font-size: 0.8em;
}

.blog-icon {
	display: flex;
	align-items: center;
}

.blog-icon img {
	height: 1em;
	width: 1em;
	margin-right: 0.35em;
}

.blog-icon span {
	margin-right: 1.75em;
	font-size: 0.85em;
	color: grey;
}

/*-----------
	hidden section
--------------*/

.hidden-section {
	display: none;
	margin: 2em 20em;
	justify-content: c;
}

.hidden-section button {
	background-color: red;
	color: white;
	width: 10em;
	height: 2.5em;
	font-size: 1em;
	border-radius: 0.5em;
	border: 0;
	font-weight: 800;
}

/*-----------
	footer
--------------*/

footer {
	background-color: navy;
	color: white;
	margin: 0;
	padding: 70px;
}

.footer-heading {
	text-align: center;
	font-size: 40px;
}

.footer-line {
	margin: 50px ;
	/*height: 5px;*/
	background-color: grey;
}

.footer-items {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 40px;
}

.footer-icons {
	display: flex;
	width: 120px;
	margin: 0 auto;
	justify-content: space-evenly;
}

.footer-icon {
	font-size: 2.5em;
	margin-right: 1em;
	color: white;
}

/*----------------
	Media Queries
----------------*/

/*----------------
	tablet devices
----------------*/

@media only screen and (min-width: 689px) and (max-width: 992px) {
	.header {
		width: 90%;
		align-items: center;
	}
	main {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	nav {
		width: 100%;
		flex-direction: row;
		justify-content: space-evenly;
		background-color: white;
		height: 100%;
	}
	.nav-item{
		width: 33%;
	}
	.blogs {
		width: 100%;
		grid-template-columns: repeat(2, 1fr);
	}
	.blog {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	.blog img {
		width: 100%;
	}
	.hidden-section {
		display: block;
	}
	.footer-items{
		flex-wrap: wrap;
	}
} 

/*----------------
	mobile phones
----------------*/

@media only screen and (max-width: 688px) {
	.header {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 90%;
		height: 50em;
		padding: 10px 0 10px 10px;
	}
	.header-info, .banner-image {
		height: 50%;
		/*width: 80%;*/
	}
	.header-info{
		padding: 2em 0 0 0.5em;
	}
	.main-heading {
		font-size: 2em;
	}
	.header p {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	main {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	nav {
		width: 100%;
		background-color: white;
		height: 100%;
		justify-content: center;
	}
	.nav-item{
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}
	.blogs {
		width: 100%;
		grid-template-columns: repeat(1, 1fr);
	}
	.blog {
		width: 90%;
		margin-right: auto;
		margin-left: auto;
	}
	.blog img {
		width: 100%;
	}
	.footer-items{
		flex-direction: column;
		align-items: center;
	}
}